[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-cors = "*"
cryptography = "*"
flask-jwt-extended = "*"
pymysql = "*"

[requires]
python_version = "3.7"
